/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .


 */
/* line 19, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.whiteFont {
  color: white;
}

/* line 20, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.redFont {
  color: red;
}

/* line 21, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.purpleFont {
  color: #7b69eb;
}

/* line 22, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.yellowFont {
  color: #f4ef5a;
}

/* line 23, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.font400 {
  font-weight: 400;
}

/* line 24, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.font600 {
  font-weight: 600;
}

/* line 25, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.marginTop20 {
  margin-top: 20px;
}

/* line 26, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.greenBG {
  background-color: #4ECDC4;
}

/* line 27, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.pushDown20 {
  margin-top: 20px;
}

/* line 28, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.pushDown40 {
  margin-top: 40px;
}

/* line 29, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.pushDown80 {
  margin-top: 80px;
}

/* line 30, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.ul {
  text-decoration: underline;
  underline-color: black;
}

/* line 31, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.marginB20 {
  margin-bottom: 20px !important;
}

/* line 32, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.opHidden {
  opacity: 0;
}

/* line 34, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.text2em {
  font-size: 2em;
}

/* line 36, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
u {
  color: #7b69eb;
}

/* line 37, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
ol, ul {
  list-style: none;
}

/* pop up modal */
/* line 39, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.modal {
  /*   display: block;*/
  padding-right: 0px;
  background-color: rgba(4, 4, 4, 0.8);
}

/* line 45, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.modal-dialog {
  top: 20%;
  width: 100%;
  position: absolute;
}

/* line 50, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.modal-content {
  border-radius: 0px;
  border: none;
  top: 40%;
}

/* line 55, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.modal-body {
  background-color: #0f8845;
  color: white;
}

/* line 60, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.errorMessageBtn {
  margin-top: 100px;
}

/* line 64, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
#heroTitle1 {
  margin-left: -20px;
}

/* line 66, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
#intro h3 {
  font-weight: 600;
}

/*hero img on home*/
/* line 69, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.mainBg {
  border-radius: 10px;
  padding-bottom: 25px;
}

/* line 70, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.andMoreText {
  float: right;
  margin-left: -40px;
  padding-top: 10px;
}

/* line 74, C:/Users/Research/Documents/GitHub/mmc/app/assets/stylesheets/application.css.scss */
.overlay {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 1000;
}
.on_the_spot_over { background: #EEF2A0; }
