body{
	    background: -webkit-linear-gradient(left, #8a69ec, #00C6FB);
}
.profile_header{
	text-align: center;
	font-weight: 600;
	font-size: 2.5em;
	padding-bottom: 50px;
	margin-top: -20px;
	color: white;
}
.profileDetails{
	font-size: 1.4em;
}
.profileDetails text{
	color:#7b69eb;
}
.profileDetails .glyphicon {  margin-bottom: 10px;margin-right: 10px;}

.profile_name{
	font-weight: 600;
	font-size: 2em;
	padding-bottom: 70px;
}
.profile_updateBtn{
	float: right;
}

/*circle button*/
.orange-circle-button {
	box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
	border: .5em solid #E84D0E;
	font-size: 2.1em;
	line-height: 1.1em;
	color: #ffffff;
	background-color: #e84d0e;
	margin: auto;
	border-radius: 50%;
	height: 9em;
	width: 9em;
	position: relative;
}
.orange-circle-button:hover {
	color:#ffffff;
    background-color: #e84d0e;
	text-decoration: none;
	border-color: #ff7536;
	
}
.orange-circle-button:visited {
	color:#ffffff;
    background-color: #e84d0e;
	text-decoration: none;
	
}
.orange-circle-link-greater-than {
    font-size: 1em;
}
/* ./circle button*/

.myBudgets{
	/*display: none; */
	border: 1px solid #7b69eb;
	border-radius: 5px;
    padding-left: 15px;
}
/*#myBudgetsInfoBox{ display: none; }
*/
.myBudgetsHideBtn{
	background-color: #e84d0e; 
	margin-top: 4%; 
	border-radius: 10px;
	color: white;
	font-weight: 600;
}

#myBudgetsContainer{display: none;}
