<center><div class="container" >
    <div class="row">
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-body">
		      <H2><%= val1 %></H2>
		      <div class="col-md-12">
			      <button type="button" class="btn btn-danger col-md-4 col-md-push-1 errorMessageBtn">No, I want to stay here</button>
			      <button type="button" class="btn btn-success col-md-4 col-md-push-3 errorMessageBtn">
			      		<!-- Yes I want to got to <%= link_to "#{val2}" %> -->
			      		Yes, I want to got to My Profile
				   </button>
			  </div>
			   <div class="col-md-12">
			      <button type="button" class="btn btn-success col-md-4 col-md-push-7 errorMessageBtn">Yes I want to got to the Front Page</button>
			      </div>
		      </div>
		    </div>
		  </div>
		</div>
    </div>
</div>
</center>