
.loginContainer {
    padding: 25px;
    position: fixed;
}

.form-login {
    position: absolute;
    width: fit-content;
    background-color: #EDEDED;
    padding: 10px 30px 30px 30px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
    margin-top: 35%;
    margin-left: 30%;
    transform: scale(1.5);
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}
text{ color: #7b69eb; font-size: 1.3em; }
.form-control { border-radius: 10px; }
.wrapper { text-align: center; }

form{ margin-top: 39px; }
.loginBtn{
  background-color: #7b69eb; color: white;
}

.loginOptionBtn{
	text-align: center;
	/*height: 40%;*/
	border-radius: 20px;
	color: white;
}

.drawPassBtn{
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #ffd996 0%, #ffbe47 51%, #d69d35 75%);
    color: white;
    opacity: 0.95;

}
.typePassBtn{
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  opacity: 0.95;
  margin-right: 15%;
}
.drawPassBtn:hover{
  background-color: pink;
  background-image: linear-gradient(141deg, #ffbe47 0%, #d69d35 51%, #ffd996 85%);
  opacity: 1;
  border: 20px solid rgba(206, 211, 219, 0.9);
}
.typePassBtn:hover{
  background-color: green;
  background-image: linear-gradient(141deg, #1fc8db 0%, #2cb5e8 51%, #9fb8ad 75%);
  opacity: 1;
  border: 20px solid rgba(206, 211, 219, 0.9);
  font-weight: bolder;
}
.loginOptionsHeading{
	text-align: center;
	margin: 14% 0px 50px 0px;
}

.loginOptionsHeading h1{
	font-size: 3em;
    font-weight: 600;
    background: -webkit-linear-gradient(#a496f7, #6d58ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.loginOptionsArrow1 img{
	position: absolute;
    right: 60px;
}
.loginOptionsArrow2 img{
	/*margin-right: 50%;*/
	margin-left: 60px;
}
#goBackArrow{
  display: none;
  padding: 20px;
  width: max-content;
  position: absolute;
  top: 20%;
}

#goBackWording{
  color: transparent;
  width: max-content;
  text-align: center;
  margin-left: 10%;
  font-weight: 800;
}

#goBackArrow:hover #goBackWording{
  color: #6666ff;
}
#goBackArrow img{
  width: 70%;
}

#patternlockDiv {
    margin-top: 9%;
}
#patternlockDiv h3{
  font-size: 2.5em;
  font-weight: 600;
  color: #7b69eb;
  text-align: center;
}

.afterPatternBtn{
    display: none;
    position: absolute;
    top: 50%;
    padding: 30px;
}
#confirmPattern {
    right: 10%;
}
#redoPattern {
    left: 10%;
}

#confirmPattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}
.confirmPatternBtn2 {
    transform: scale(2.2);
}
.redoPatternBtn{
  transform: scale(0.8);
}

input#mmcNameInput {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    height: 20%;
    border: 1px solid blueviolet;
    color: #7b69eb;
    font-size: -webkit-xxx-large;
    font-weight: 700;
}
#mmcNameLabel{
  position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 20%;
}
#mmcNameLabel img {
    width: 45%;
    position: absolute;
    right: -145px;
    height: 130%;
    bottom: -75px

}
img#loadingIcon {
    margin-top: 10%;
}